/* Login/Registration Form */

#loginForm form {
	width: 650px;	
}

#loginForm form fieldset {
	border: none;
}

#loginForm input[type=text] {
	width: 250px;
	height: 25px;
}

#loginForm input[type=password] {
	width: 250px;
	height: 25px;
	margin-left: 4px;
	margin-top: 5px;
}

#loginForm form input[type=submit] {
	width: 100px;
	height: 45px;
	background-color: #22A7F0;
	color: #FFFFFF;
	border: none;
	border-radius: 8px;
	margin-top: 25px;
	font-size: 14px;
}

#loginForm form input[type=submit]:hover {
	cursor: pointer;
	background-color: #4183D7;
}

#loginForm form p {
	color: red;	
}

main a:link,
main a:visited {
	color: #6BB9F0;
	text-decoration: none;
}