/* Login/Registration Form */

form {
	width: 650px;
	/*background-color: #5033E3;*/	
}

form fieldset {
	border: none;
}

input[type=text] {
	width: 250px;
	height: 25px;
}

input[type=password] {
	width: 250px;
	height: 25px;
	margin-left: 4px;
	margin-top: 5px;
}

form input[type=submit] {
	width: 100px;
	height: 45px;
	background-color: #22A7F0;
	color: #FFFFFF;
	border: none;
	border-radius: 8px;
	margin-top: 25px;
	font-size: 14px;
}

form input[type=submit]:hover {
	cursor: pointer;
	background-color: #4183D7;
}

form p {
	color: red;	
}