/* Navigation Menu */

nav {
	margin: 0 auto;
	padding: 0;
	overflow: auto;
	height: auto;
	width: 960px;
	text-transform: uppercase;
	font-family: 'Nunito', sans-serif;
}

nav ul {
	margin: 0 auto;
	padding: 0;
	height: auto;
	width: 595px;
	list-style-type: none;
}

nav ul li {
	float: left;
	margin-right: 2px;
}

nav ul li a {
	display: block;
	padding: 20px 40px;
	color: #FFFFFF;
	text-decoration: none;
}

nav ul li a:hover {
	color: #FDE3A7; /*F4B350*/
}

#active a {
	color: #FDE3A7;	
}