body {
	padding: 0;
	margin: 0;
	background-color: #ECECEC;
}

header {
	position: relative;
	margin-bottom: 25px;
	width: 100%;
	height: 90px;
	background-color: #4183D7;
}

main {
	position: relative;
	margin: 0 auto;
	width: 960px;
	height: auto;
	background-color: #FFFFFF;
	padding: 25px;
	font-family: 'Raleway', sans-serif;
}

footer {
	bottom: 0;
	padding: 50px 0;
	margin-top: 85px;
	width: 100%;
	height: auto;
	background-color: #4183D7;
	text-align: center;
	color: #59ABE3;
}

main h1 {
	color: #59ABE3;
	text-align: center;
}

.feedContent {
	width: 450px;	
	margin: 50px 0;
	color: #6C7A89;
}

.feedContent a:link {
	color: #F4B350;
	text-decoration: none;
}

.feedContent a:visited {
	color: #D35400;
	text-decoration: none;
}

.feedContent img {
	width: 450px;
	height: 300px;
}