body {
	padding: 0;
	margin: 0;
	background-color: #ECECEC;
}

header {
	margin-bottom: 25px;
	width: 100%;
	padding: 0;
	background-color: #4183D7;
}

main {
	overflow: auto;
	margin: 0 auto;
	width: 960px;
	height: auto;
	background-color: #FFFFFF;
	padding: 25px;
	font-family: 'Maven Pro', sans-serif;
}

footer {
	margin-top: 85px;
	text-align: center;
	color: #59ABE3;
	font-family: 'Maven Pro', sans-serif;
	padding: 50px 0;
	
	/*bottom: 0;
	width: 100%;
	height: auto;
	background-color: #4183D7;*/
}

#toTopAnchor a:link {
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #F4B350;
}

#toTopAnchor a:visited {
	color: #F4B350;
}

#toTopAnchor a:hover {
	color: #F4B350;
}

main h1 {
	color: #59ABE3;
	text-align: center;
	margin: 0;
}

main a:link,
main a:visited {
	color: #6BB9F0;
	text-decoration: none;
}